<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>Student List</h2>

<form action="/saveStudent" method="post">
    Name: <input type="text" name="name"/>
    Course: <input type="text" name="course"/>
    Email: <input type="email" name="email"/>
    <button type="submit">Add Student</button>
</form>

<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Course</th>
    <th>Email</th>
    <th>Action</th>
</tr>

<tr th:each="s : ${students}">
    <td th:text="${s.id}"></td>
    <td th:text="${s.name}"></td>
    <td th:text="${s.course}"></td>
    <td th:text="${s.email}"></td>
    <td>
        <a th:href="@{/delete/{id}(id=${s.id})}">Delete</a>
    </td>
</tr>

</table>

</body>
</html>